node_modules

# output
workdir
out
dist
*.tgz

# dotenv environment variable files
.env.development.local
.env.test.local
.env.production.local
.env.local
github-app-key.pem

# caches
.eslintcache
.cache
*.tsbuildinfo

# other
.DS_Store
